.post-image {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}


//.ql-clipboard.cke_editable.cke_editable_inline.cke_contents_ltr.cke_show_borders {
//  display: none;
//}

#cke_editor1 {
  display: none!important;
}
