<div class="modal-header">
  <h4 class="modal-title">Edit Post</h4>
  <button type="button" class="close" aria-label="Close">
  </button>
</div>
<div *ngIf="isPostLoaded" class="modal-body">
  <div>
    <img [src]="previewUrl || post.images[0] || '../../../../../assets/images/default-image.jpg'" style="display: block; width: 100%"/>
  </div>
  <div class="form-group">
    <input type="file" name="image" (change)="fileProgress($event)" />
  </div>
  <div class="form-group">
    <label for="postText" class="my-2">Comment your post</label>
    <textarea name="" id="postText" class="form-control" [(ngModel)]="post.text"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="editPost()">
    Edit Post
  </button>
</div>
