.comment-image {
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.comment {
  background: #e2e2e2;
  border-radius: 20px;
  padding: 10px;
  word-break: break-word;
}

.file-reference {
  word-break: break-word;
  font-size: 0.9rem ;
}
