<p *ngIf="postComment.files">
  <img class="comment-image" [src]="postComment.files[0]" alt="">
</p>
<p class="comment my-1 fadeIn">
  {{postComment.text}}
  <a href="{{postComment.files[0]}}" class="file-reference">{{postComment.files[0]}}</a>

</p>
<div class="d-flex justify-content-between" style="cursor: pointer; color: blue">
  <small (click)="showSubCommentInput()">reply</small>
  <small (click)="showReplies()">{{postComment.responses.length}} replies</small>
</div>
<div *ngIf="isRepliesShown">
  <p
     *ngFor="let response of postComment.responses; let i = index"
     class="comment my-1 ml-3 fadeIn"
  >
    {{response.text}}
    {{postComment.files[0]}}
  </p>
</div>

<ng-container *ngIf="replyCommentInput">
  <div class="col-sm-12">
    <span class="counter mt-3 d-block text-right">{{subComment.length}}/50</span>
    <input
      class="form-control my-3"
      type="text"
      [(ngModel)]="subComment"
      (keyup.enter)="addSubComment()"
      maxlength="50"
      (input) = watchInputValue()
    >
  </div>
</ng-container>
<hr>

